.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 700px;
  font-family: "Roboto" ,  sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;

  background-size: 124px 32px;
}

.link {
  padding: 13px 32px;
  height: 19px;
  font-size: 16px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 520px) {
  .header {
    background: none;
  }
}

.header_link {
  padding: 13px 32px;
  height: 19px;
  font-size: 16px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header_about {
  color: #FFF;
  background-color: #356EFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  border-radius: 37px;
}

.header_todo {
  color: #FFF;
  background-color: #356EFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  border-radius: 37px;
}