.wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-right: 8px;
  min-height: 36px;
  border: 1px solid #CCCCCC;
  border-radius: 41px;
}

.wrapp:hover {
  border: 1px solid #356EFF;
}

.checkbox {
  display: none;
}

.value {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  min-height: 17px;
  width: 100%;
  font-size: 14px;
}

.checkbox:checked + .value {
  color: #CCCCCC;
  text-decoration: line-through;
}

.checkbox + .value::before {
  content: '';
  position: absolute;
  left: 13px;
  height: 16px;
  width: 17px;
  background: url(../../img/checkbox.png) center center no-repeat;
}

.checkbox:checked + .value:before {
  background: url(../../img/checkbox-checked.png) center center no-repeat;
}

.button_delete {
  height: 16px;
  width: 25px;
  border: none;
  outline: none;
  background: url(../../img/delete.png) left center no-repeat;
}

.value:hover,
.button_delete:hover {
  cursor: pointer;
}

@media (max-width: 440px) {
  .value {
    font-size: 12px;
  } 
}